PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
SALT=WAGMI
REPORT_GAS=true
TS_NODE_TRANSPILE_ONLY=1

# Add your own API key by getting an account at etherscan (https://etherscan.io), snowtrace (https://snowtrace.io) etc. 
# This is used for verification purposes when you want to `npx hardhat verify` your contract using Hardhat
# The same API key works usually for both testnet and mainnet

ETHERSCAN_API_KEY=
BSC_API_KEY=
POLYGON_API_KEY=
AVALANCHE_API_KEY=
FANTOM_API_KEY=

# Below are working open RPC clients
# Find more available RPC URLs at https://rpc.info
# You can also use Alchemy, Moralis, Infura, or any other custom RPC

ETH_MAINNET_URL=https://mainnet.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161
ETH_ROPSTEN_TESTNET_URL=https://ropsten.infura.io/v3/9aa3d95b3bc440fa88ea12eaa4456161

POLYGON_TESTNET_URL=https://rpc-mumbai.maticvigil.com
POLYGON_MAINNET_URL=https://polygon-rpc.com

BSC_TESTNET_URL=https://data-seed-prebsc-1-s1.binance.org:8545
BSC_MAINNET_URL=https://bsc-dataseed.binance.org

AVALANCHE_TESTNET_URL=https://api.avax-test.network/ext/bc/C/rpc
AVALANCHE_MAINNET_URL=https://api.avax.network/ext/bc/C/rpc

FANTOM_TESTNET_URL=https://rpc.testnet.fantom.network/
FANTOM_MAINNET_URL=https://rpc.ftm.tools

HECO_TESTNET_URL=https://http-testnet.hecochain.com
HECO_MAINNET_URL=https://http-mainnet.hecochain.com

GNOSIS_TESTNET_URL=https://sokol.poa.network
GNOSIS_MAINNET_URL=https://rpc.xdaichain.com

MOONBEAM_TESTNET_URL=https://rpc.api.moonbase.moonbeam.network
MOONRIVER_MAINNET_URL=https://rpc.moonriver.moonbeam.network
MOONBEAM_MAINNET_URL=https://rpc.api.moonbeam.network

CELO_TESTNET_URL=https://alfajores-forno.celo-testnet.org
CELO_MAINNET_URL=https://forno.celo.org

AURORA_TESTNET_URL=https://testnet.aurora.dev
AURORA_MAINNET_URL=https://mainnet.aurora.dev

HARMONY_TESTNET_URL=https://api.s0.b.hmny.io
HARMONY_MAINNET_URL=https://api.harmony.one

AUTOBAHN_MAINNET_URL=https://rpc.autobahn.network

FUSE_TESTNET_URL=https://rpc.fusespark.io
FUSE_MAINNET_URL=https://rpc.fuse.io
