.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
node_modules
.env
coverage
coverage.json
typechain
typechain-types
bin
out

# Hardhat files
cache
artifacts
.deps

# xdeployer files
deployments

# foundry files
forge-artifacts
